.tagBase {
    border-radius: 100px;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.tertiary {
    background: var(--tertiary);
    color: var(--on-tertiary);
}

.primary {
    background: var(--primary-chip);
    color: var(--primary);
}

.triadic {
    background: var(--triadic);
    color: var(--on-triadic);
}

.secondary {
    background: var(--secondary-container);
    color: var(--on-secondary);
}

@media(hover:hover) {
    .tertiary:hover {
        background: var(--on-tertiary);
        color: var(--tertiary);
        font-weight: 600;
    }

    .primary:hover {
        background: var(--primary);
        color: var(--primary-chip);
        font-weight: 600;
    }

    .triadic:hover {
        background: var(--on-triadic);
        color: var(--triadic);
        font-weight: 600;
    }

    .secondary:hover {
        background: var(--on-secondary);
        color: var(--secondary-container);
        font-weight: 600;
    }
}